<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mainUser"
            routerLinkActive="activebutton"
            >User Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mainProduct"
            routerLinkActive="activebutton"
            >Product Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/stock"
            routerLinkActive="activebutton"
            >Stock Management</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/rayon"
            routerLinkActive="activebutton"
            >Rayon Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/invoice"
            routerLinkActive="activebutton"
            >Facture Management</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
